<!-- public/views/nerd.html -->
<div class="jumbotron text-center">
    <form action="/fix" method="GET">
    birthTime:<br>
        <input type="text" name="birthTime">
        <br>
    code<br>
        <input type="text" name="code">
        <br>
     periodType:<br>
        <input type="text" name="periodType">
        <br>
    bid_open<br>
        <input type="text" name="bid_open">
        <br>
     bid_close:<br>
        <input type="text" name="bid_close">
        <br>
    bid_high<br>
        <input type="text" name="bid_high">
        <br>
     bid_low:<br>
        <input type="text" name="bid_low">
        <br>
    ask_open<br>
        <input type="text" name="ask_open">
        <br>
    ask_close<br>
        <input type="text" name="ask_close">
        <br>
    ask_high<br>
        <input type="text" name="ask_high">
        <br>
    ask_low<br>
        <input type="text" name="ask_low">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
