<!-- public/views/home.html -->
<div class="jumbotron text-center">

    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="fromDate" ng-change="changed()" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
        <timepicker ng-model="fromTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="toDate" ng-change="changed()" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
        <timepicker ng-model="toTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Code</th>
            <th>FROM</th>
            <th>TO</th>
        </tr>
      </thead>
        <tbody>
        <tr>
            <td><input class="form-control" ng-model="code"></td>
            <td><input class="form-control" ng-model="from"></td>
            <td><input class="form-control" ng-model="to"></td>
            <td><button class="btn btn-info" ng-click="get(code,from,to)">Search</button>
        </tr>

      </tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>TYPE</th>
            <th>open</th>
            <th>high</th>
            <th>low</th>
            <th>close</th>
            <th>&nbsp;</th>
        </tr>
                </thead>
        <tbody>
        <tr>
            <td>{{candle.birthTime | date : 'yyyy-MM-dd HH:mm'}}</td>
            <td>Volume:<input type="number" class="form-control" ng-model="candle.volume"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>ASK:</td>
            <td><input class="form-control" ng-model="candle.ask.open"></td>
            <td><input class="form-control" ng-model="candle.ask.high"></td>
            <td><input class="form-control" ng-model="candle.ask.low"></td>
            <td><input class="form-control" ng-model="candle.ask.close"></td>
        </tr>
        <tr>
            <td>BID:</td>
            <td><input class="form-control" ng-model="candle.bid.open"></td>
            <td><input class="form-control" ng-model="candle.bid.high"></td>
            <td><input class="form-control" ng-model="candle.bid.low"></td>
            <td><input class="form-control" ng-model="candle.bid.close"></td>
            <td><button class="btn btn-info" ng-click="update(candle)">update</button>
        </tr>
            </tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th>TYPE</th>
            <th>open</th>
            <th>high</th>
            <th>low</th>
            <th>close</th>
            <th>&nbsp;</th>
        </tr>
                </thead>
        <tbody ng-repeat="candle in candleList">
        <tr>
            <td>{{candle.birthTime | date : 'yyyy-MM-dd HH:mm'}}</td>
            <td>Volume : {{candle.volume }}</td>
        </tr>
        <tr>
            <td>ASK:</td>
            <td>{{candle.ask.open}}</td>
            <td>{{candle.ask.high}}</td>
            <td>{{candle.ask.low}}</td>
            <td>{{candle.ask.close}}</td>
        </tr>
        <tr>
            <td>BID:</td>
            <td>{{candle.bid.open}}</td>
            <td>{{candle.bid.high}}</td>
            <td>{{candle.bid.low}}</td>
            <td>{{candle.bid.close}}</td>
            <td><button class="btn btn-warning" ng-click="edit(candle.birthTime)">Edit</button></td>
        </tr>
            </tbody>
    </table>


</div>
</div>