<!-- public/views/home.html -->
<div class="jumbotron text-center">
    <div class="container" ng-controller="MainController">
        <h1>Search wrong candle</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Code</th>
                <th>&nbsp;</th>
            </tr>
      </thead>
            <tbody>
            <tr>
                <td><input class="form-control" ng-model="data.time"></td>
                <td><input class="form-control" ng-model="data.code"></td>
                <td><button class="btn btn-info" ng-click="get()">Search</button>
            </tr>

      </tbody>
        </table>

        <table class="table">
            <tbody>
            <tr>
                <td><input class="form-control" ng-model="candle.birthTime"></td>
                <td><input class="form-control" ng-model="candle.ask.open"></td>
                <td><input class="form-control" ng-model="candle.ask.high"></td>
                <td><input class="form-control" ng-model="candle.ask.low"></td>
                <td><input class="form-control" ng-model="candle.ask.close"></td>
            </tr>
            <tr>
                <td><input class="form-control" ng-model="candle.birthTime"></td>
                <td><input class="form-control" ng-model="candle.ask.open"></td>
                <td><input class="form-control" ng-model="candle.ask.high"></td>
                <td><input class="form-control" ng-model="candle.ask.low"></td>
                <td><input class="form-control" ng-model="candle.ask.close"></td>
                <td><button class="btn btn-info" ng-click="update()">update</button>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>TYPE</th>
                <th>open</th>
                <th>high</th>
                <th>low</th>
                <th>close</th>
                <th>&nbsp;</th>
            </tr>
                </thead>
            <tbody ng-repeat="candle in candleList">
            <tr>
                <td>BirthTime : {{candle.birthTime}}</td>
                <td>Volume : {{candle.volume }}</td>
            </tr>
            <tr>
                <td>ASK:</td>
                <td>{{candle.ask.open}}</td>
                <td>{{candle.ask.high}}</td>
                <td>{{candle.ask.low}}</td>
                <td>{{candle.ask.close}}</td>
            </tr>
            <tr>
                <td>BID:</td>
                <td>{{candle.bid.open}}</td>
                <td>{{candle.bid.high}}</td>
                <td>{{candle.bid.low}}</td>
                <td>{{candle.bid.close}}</td>
                <td><button class="btn btn-warning" ng-click="edit(candle.birthTime)">Edit</button></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>